/*================================
Add your custom style here
==================================*/
#content h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

#project-jump .drdn-items > * {
    color: #b4b4b4 !important;
}

.wiki-preview {
    background: #27292e !important;
}

div.wiki pre {
    background-color: #27292e !important;
    color: #fff !important;
}

.syntaxhl {
    background: #27292e !important;
}

.check_box_group {
    background: #27292e !important;
}

.syntaxhl .s {
    background-color: #93814e !important;
}

.syntaxhl .s1 {
    background-color: #93814e !important;
}

.syntaxhl .s2 {
    background-color: #b18300 !important;
}

.syntaxhl .dl {
    background-color: #b18300 !important;
}

.syntaxhl .o {
    color: #939393 !important;
}

.syntaxhl .mi {
    color: #e688ec !important;
}

.icon-clear-query {
    width: auto !important;
}

/* SCM */

table.filecontent {
    border: 1px solid #464242 !important;
    background-color: #464242 !important;
}

table.filecontent th.line-num {
    border: 1px solid #464242 !important;
    color: #fff !important;
}

table.filecontent th {
    background-color: #464242 !important;
}

.diff_in {
    background: #cfc !important;
    color: #5e5555 !important;
}

.diff_out {
    background: #fcc !important;
    color: #5e5555 !important;
}

table.filecontent tr.spacing td {
    background: #3a3d3f !important;
}

table.filecontent th.filename {
    background-color: #3a3d3f !important;
}

table.filecontent th {
    border: 1px solid #3a3d3f !important;
}
